<div class="card">
    <div class="col-sm-6">
        <h1 class="font-weight-bold" style="font-size: 30px">Personas registradas</h1>
    </div>
</div>

<table class="table mt-3" >
    <thead>
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellido1</th>
            <th>Apellido2</th>
            <th>Edad</th>
            <th>Género</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of data">
            <td>{{ persona.cc }}</td>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.apellido1 }}</td>
            <td>{{ persona.apellido2 }}</td>
            <td>{{ persona.edad }}</td>
            <td>{{ persona.genero }}</td>
            <td>{{ persona.estado }}</td>
        </tr>
    </tbody>
</table>
